.main-img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.preview-img {
  overflow: hidden;
  width: 80%;
  object-fit: cover;
}

.username-link {
  cursor: pointer;
  color: #fd0017;
}

.username-link:hover {
  text-decoration: underline;
}
