.card-front {
  height: 200px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.card-info {
  width: 100%;
  height: 200px;
  background-color: rgb(40, 6, 6);
  text-align: center;
  cursor: pointer;
}

.card-name {
  text-align: center;
  /* align-items: center; */
  padding-top: 5%;
}

.smaller-title {
  font-size: 16px;
}

.card-rating {
  padding-top: 5%;
}

.card-footer {
  position: relative;
  bottom: 0;
}