.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: rgb(22, 22, 22);
  color: #FD0017;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #FD0017;
  box-shadow: 0 5px 10px rgb(107, 2, 2);
}

.back-to-top:hover {
  background: rgb(70, 70, 70);;
}