.user-menu > div > ul {
  background-color: #181c23;
}

.user-menu > div > ul > li:hover {
  background-color: rgb(245, 102, 102);
  color: black;
}

.logo-img {
  width: 30px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}
