ul.MuiPagination-ul li button {
  background: rgb(22, 22, 22);
  color: #fd0017;
  /* border-radius: 30px; */
  border: 1px solid #fd0017;
  box-shadow: 0 5px 10px rgb(107, 2, 2);
}

ul.MuiPagination-ul li button.Mui-selected {
  color: white;
  background: #fd0017;
}

ul.MuiPagination-ul li button:hover {
  background: rgb(70, 70, 70);
}

ul.MuiPagination-ul li button.Mui-selected:hover {
  background: #891d26;
}

ul.MuiPagination-ul li div {
  color: #fd0017;
}
