.home-see-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  cursor: pointer;
}

.home-see-more-wrapper > h3 {
  display: inline-block;
}

.home-see-more-wrapper:hover > h3 {
  text-decoration: underline;
}

.home-see-more-wrapper:hover > svg {
  fill: red;
}
