* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
}

.info-and-specs {
  margin-left: 35px;
}

ul .MuiListItemButton-root:hover {
  background-color: rgb(175, 7, 7);
}

.css-l30n4n-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-l30n4n-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: solid #fd0017 1px !important;
}

.auth-container {
  margin: 10px auto;
  width: 50%;
  padding: 10px;
  border: 1px dotted #fd0017;
  background-color: #181c23;
  max-width: 60vh;
  padding: 45px 0;
}

.MuiListItemText-secondary {
  color: rgb(202, 202, 202) !important;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 1;
  cursor: pointer;
}
