.header-auth {
  display: inline-flex;
  text-decoration: none;
  color: white;
}

.header-auth a {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.login-input {
  width: 300px;
}
